{% extends 'base.html.twig' %}

{% block title %}Mes livres{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>Mes livres</h1>

        <div class="row">
            {% for book in books %}
                {% include 'partials/_card.html.twig' with {'book': book} %}
            {% else %}
                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 200px;">
                    <p>Vous n'avez aucun livre rédigé.</p>
                    <a class="btn btn-primary" href="{{ path('book_create') }}">Rédiger un livre</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
